/* You can add global styles to this file, and also import other style files */
:root {
    --Preto: #000000;
    --CinzaEscuro: #1A1A1A;
    --CinzaMedio: #333333;
    --CinzaClaro: #666666;
    --Branco: #FFFFFF;
    --Vermelho: #FF0000
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--Preto);
    margin: 0px;
}

hr {
    border-color: var(--CinzaMedio);
    width: 100%;
}